<!DOCTYPE html>
<html ng-app="gemStore">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular Test</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body ng-controller="StoreController as store" class="panel-body">
    <h1 class="page-header">{{"Angular's Store"}}</h1>
    <div ng-repeat="product in store.products|limitTo:10|orderBy:-price" class="panel pull-left">
        <div ng-hide="product.soldOut" class="panel-body clearfix col-md-12">
            <div class="pull-left col-md-6">
                <h2>({{ product.id }}) {{ product.name }} - {{ product.createdAt|date:'d/M/y H:m:s'}}</h2>
                <h3>{{ product.price|currency }}</h3>
                <button class="btn btn-success" ng-show="product.canPurchase">Add to Cart</button>
                <hr/>
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}">
                            <a href="" ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(2)}">
                            <a href="" ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(3)}">
                            <a href="" ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <blockquote>{{ product.description|limitTo:100 }}...</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specifications</h4>
                        <blockquote>{{ product.description|limitTo:100 }}...</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote>{{ product.description|limitTo:100 }}...</blockquote>
                    </div>
                </section>
            </div>
            <div class="gallery clearfix pull-right col-md-6">
                <ul class="list-group">
                    <li ng-repeat="image in product.images" class="pull-left list-group-item img-thumbnail">
                        <img ng-src="{{ image.thumb }}">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>