<section>
    <ul class="nav nav-pills">
        <li ng-class="{active:tab.isSelected(1)}">
            <a href="" ng-click="tab.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active:tab.isSelected(2)}">
            <a href="" ng-click="tab.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{active:tab.isSelected(3)}">
            <a href="" ng-click="tab.selectTab(3)">Reviews</a>
        </li>
    </ul>
    <div class="panel" ng-show="tab.isSelected(1)" product-description></div>
    <div class="panel" ng-show="tab.isSelected(2)" product-specs></div>
    <div class="panel" ng-show="tab.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
            <strong>{{ review.rating }} Star(s)</strong>
            <cite>By: {{ review.author }} on {{ review.createdOn|date }}</cite>
            <p>
                {{ review.comment }}
            </p>
        </blockquote>
        <form name="reviewForm"
              class="well"
              ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
              novalidate>
            <blockquote>
                <strong>{{ reviewCtrl.review.rating }} Star(s)</strong>
                <cite>By: {{ reviewCtrl.review.author }}</cite>
                <p>
                    {{ reviewCtrl.review.comment }}
                </p>
            </blockquote>
            <h4>Write a review!</h4>
            <select
                    class="form-control"
                    ng-model="reviewCtrl.review.rating"
                    ng-options="stars for stars in [1,2,3,4,5]"
                    required>
                <option value="">Choose your rating...</option>
            </select>
            <br/>
                            <textarea
                                    class="form-control"
                                    ng-model="reviewCtrl.review.comment"
                                    placeholder="Type your comment here..."
                                    required></textarea>
            <br/>
            <input
                    placeholder="Type your e-mail..."
                    class="form-control"
                    type="email"
                    ng-model="reviewCtrl.review.author"
                    required>
            <br/>
            <input type="radio" ng-model="reviewCtrl.review.color" type="radio" value="red"> Red
            <input type="radio" ng-model="reviewCtrl.review.color" type="radio" value="blue"> Blue
            <input type="radio" ng-model="reviewCtrl.review.color" type="radio" value="green"> Green
            <hr/>
            <input
                    type="checkbox"
                    ng-model="reviewCtrl.review.terms"
                    required> I agree to the terms
            <br/>
            <div class="alert alert-info">
                Review for is {{ reviewForm.$valid }}
            </div>
            <button ng-show="reviewForm.$valid" class="btn btn-success" type="submit">Send Review</button>
        </form>
    </div>
</section>